<form class='mt-4' name="container-form" method="POST" action="/courses/handle-form">
    <h3>Khóa Học Của Tôi</h3>
    <a href='/me/trash/courses/'>Thùng Rác ({{deletedCount}})</a>
    <div class="mt-4">
        <div class="form-check d-flex align-items-center pl-2">            
            <div class="col-auto">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
            </div>
            <div class="col-auto">
                <select class="form-control form-control-sm checkbox-select-all-option" name="actionHandle" required>
                <option value="">-- Hành động --</option>
                <option value="delete">-- Xóa --</option>            
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary btn-sm" id="checkAllBtn" disabled>Thực hiện</button>
            </div>
        </div>
    </div>
    {{_sort.column}}
    {{_thunghiemUser}}
    <table class='table mt-4'>
        <thead>
            <tr>                
                <th scope='col'>#
                    {{{sortable 'iid' _sort}}} 
                </th>
                <th scope='col'>Tên Khóa Học
                    {{!-- helper trong index.js --}}
                    {{!-- {{{sortable 'name' _sort _thunghiemUser}}}  --}}
                    {{{sortable 'name' _sort}}} 
                    
                </th>
                <th scope='col'>Trình Độ {{{sortable 'level' _sort}}} </th>
                <th scope='col'>Thời Gian Tạo {{{sortable 'createdAt' _sort}}} </th>
                <th scope='col'>#</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>
                        <div class="col-auto">
                            <input type="checkbox" class="form-check-input" value="{{this._id}}" name="courseIds[]">
                            {{!-- {{sum @index 1}} --}}
                            {{this.iid}}
                        </div>
                    </th>                    
                    <td><a href='/courses/{{this.slug}}'>{{this.name}}</a></td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='/courses/edit/{{this._id}}' class='btn btn-info'>Sửa</a>
                        {{!-- <a href='/{{this._id}}?_method=DELETE' class='btn btn-link'>Xóa</a> --}}
                        <a
                            href=''
                            class='btn btn-danger'
                            data-toggle='modal'
                            data-target='#delete-course-modal'
                            data-id={{this._id}}
                        >Xóa</a>

                    </td>
                </tr>
            {{else}}
                <tr><td colspan='5' class='text-center'>Bạn chưa đăng khóa học nào.
                        <a href='/courses/create'>Đăng Khóa Học</a>
                    </td></tr>

            {{/each}}
        </tbody>
    </table>
</form>
{{! Confirm delete course }}
<div class='modal' tabindex='-1' role='dialog' id='delete-course-modal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Thao Tác Xóa Khóa Học</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn xóa khóa học này?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' id='btn-delete-course'>Xóa</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form }}
<form name='deleteCourseForm' method='POST'></form>
{{! script }}
<script type='text/javascript'>
    // Jquery
    document.addEventListener('DOMContentLoaded', function () {
    var course_id;
    var courseForm = document.forms.namedItem('deleteCourseForm');
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    // checkbox all
    var btnSubmitCheckAll = $('#checkAllBtn');    
    var checkboxAll = $('#checkbox-all');
    var courseItemcheckbox = $('input[name="courseIds[]"]');
    //var containerForm = document.forms['container-form'];
    var containerForm = $('form[name="container-form"]');
    
    console.log(containerForm);    
    // When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        //var recipient_id = button.data('id');
        //console.log('_ID:', recipient_id);
        course_id = button.data('id');
    });
    // When delete course btn clicked
    btnDeleteCourse.onclick = function () {
        courseForm.action = '/courses/'+course_id+'?_method=DELETE';        
        courseForm.submit();
    };

    // checkbox all clicked
    checkboxAll.change(function(){
        var isCheckedAll = $(this).prop("checked");
        courseItemcheckbox.prop("checked", isCheckedAll);
        //(isCheckedAll) ? courseItemcheckbox.prop("checked", true) : courseItemcheckbox.prop("checked", false);                
        renderCheckAllBtn();
    });

    courseItemcheckbox.change(function(){
        var isCheckedAll = courseItemcheckbox.length === $('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop("checked", isCheckedAll);
        //(isCheckedAll) ? checkboxAll.prop("checked", true) : checkboxAll.prop("checked", false);
        renderCheckAllBtn();
    });

    // check all submit button        
    /*
    containerForm.on("submit", function(e){      
        var isSubmitable = !$('#checkAllBtn').hasClass('disabled');
        console.log('isSubmitable',isSubmitable);
        if(!isSubmitable){
            e.preventDefault();
        }
    });
    */
    // re-render check all submit button
    function renderCheckAllBtn(){
        var checkedCount = $('input[name="courseIds[]"]:checked').length;        
        if(checkedCount > 0){
            //btnSubmitCheckAll.removeClass('disabled');
            btnSubmitCheckAll.attr('disabled', false);
        }else{
            btnSubmitCheckAll.attr('disabled', true);
        }
        
    }
});
</script>

<script type="text/javascript">

</script>