<form class='mt-4' name="container-form" id="formContainer" method="POST" action="/courses/handle-form" >
    <h3>Thùng Rác Của Tôi</h3>
    <a href='/me/stored/courses/'>Quay lại</a>
    <div class="mt-4">
        <div class="form-check d-flex align-items-center pl-2">            
            <div class="col-auto">
                <input type="checkbox" class="form-check-input" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
            </div>
            <div class="col-auto">
                <select class="form-control" name="actionHandle">
                    <option value="">-- Hành động --</option>
                    <option value="restore">Phục hồi</option>            
                    <option value="forcedelete">Xóa Vĩnh Viễn</option>            
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary btn-sm disabled" id="btnFormHandle">Thực hiện</button>
            </div>
        </div>
    </div>  
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên Khóa Học</th>
                <th scope='col'>Trình Độ</th>
                <th scope='col'>Thời Gian Xóa</th>
                <th scope='col'>#</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>
                        <input type="checkbox" class="form-check-input" value="{{this._id}}" name="courseIds[]">
                        {{sum @index 1}}
                    </th>
                    <td><a href='/courses/{{this.slug}}'>{{this.name}}</a></td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href='' class='btn btn-info btn-restore' data-idrestore="{{this._id}}">Restore</a>
                        {{!-- <a href='/{{this._id}}?_method=DELETE' class='btn btn-link'>Xóa</a> --}}
                        <a
                            href=''
                            class='btn btn-danger'
                            data-toggle='modal'
                            data-target='#delete-course-modal'
                            data-idforcedelete={{this._id}}
                        >Xóa Vĩnh Viễn</a>
                    </td>
                </tr>
            {{else}}
               <tr><td colspan="5" class="text-center">Thùng rác trống.</td></tr> 
            {{/each}}
        </tbody>
    </table>
</form>
{{! Confirm delete course }}
<div class='modal' tabindex='-1' role='dialog' id='delete-course-modal'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Thao Tác Xóa Khóa Học</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn xóa khóa học này?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' id='btn-forcedelete'>Xóa</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- Delete hidden form --}}
<form name="force-delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
{{!-- script --}}
<script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function () {
    var course_id;
    // get form
    var restoreForm = document.forms.namedItem('restore-course-form');
    var forcedeleteForm = document.forms.namedItem('force-delete-course-form');
    // get btn event
    var btnDeleteConfirm = document.getElementById('btn-forcedelete');
    var btnRestore = $('.btn-restore');    
    // checkbox all form
    var checkboxAll = $("#checkbox-all");
    var coursesItemCheckbox = $('input[name="courseIds[]"]');
    var formContainer = $("#formContainer");
    var btnFormHandle = $("#btnFormHandle");
    var actionCourse = $("#actionCourse");    
    // checkbox all handle
    checkboxAll.change(function(){       
        var isCheckedAll = $(this).prop("checked");        
        coursesItemCheckbox.prop("checked", isCheckedAll);
        renderCheckAllBtn();
    });
    
    coursesItemCheckbox.change(function(){
        //console.log($('input[name="courseIds[]"]:checked'));
        var isCheckedAll = coursesItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
        checkboxAll.prop("checked", false);
        renderCheckAllBtn();
    });

    function renderCheckAllBtn(){
        var checkCount = $('input[name="courseIds[]"]:checked').length;
        if(checkCount > 0)
            $("#btnFormHandle").removeClass("disabled");
        else
            $("#btnFormHandle").addClass("disabled");
    }
    //--- end ---
    // submit button form checkAll    
        
    btnFormHandle.on("submit", function(e){    
        e.preventDefault();    
    });
    //--- end ---
    // When dialog confirm clicked
    $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);        
        //console.log('_ID:', recipient_id);
        course_id = button.data('idforcedelete');
    });
    // When delete course btn clicked
    btnDeleteConfirm.onclick = function () {
        forcedeleteForm.action = '/courses/'+course_id+'/force?_method=DELETE';  
        console.log('force delete', course_id);
        //alert('open code submit, click xác nhận xóa');
        forcedeleteForm.submit();
    };
    // click restore
    btnRestore.click(function(e){
        e.preventDefault(); // dừng hành động href='' lại (ko reload page)                
        courseId = $(this).data('idrestore');
        //console.log('restore', courseId);
        restoreForm.action = '/courses/'+courseId+'/restore?_method=PATCH';
        restoreForm.submit();
    });    

});
</script>